#!/bin/sh

SUCCESS=1
{% for t in tables %}
{% if t.url is defined %}
/usr/bin/ftp -Vo - '{{ t.url }}' | \
	/usr/local/bin/jq -r '{{ t.filter }}' > "{{ t.file }} && SUCCESS=0"
{% endif %}
{% endfor %}

if [ $SUCCESS -eq 0 ]; then
	/sbin/pfctl -f /etc/pf.conf
fi
