#
# {{ ansible_managed }}
#

{% if item.type == "vlan" %}
inet {{ item.ip }} {{ item.netmask }} {{ item.broadcast }} vnetid {{ item.vlan_id }} parent {{ item.parent }} description "{{ item.name }}" up
{% endif %}
{% if item.type == "physical" %}
inet {{ item.ip }} {{ item.netmask }} {{ item.broadcast }} up
{% endif %}
