# {{ ansible_managed }}

server:
{% for net in network %}
	interface: {{ net.ip }}
{% endfor %}
	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 allow
{% for net in network %}
	access-control: {{ [net.net,net.netmask] | join('/') | ipaddr('net') }} allow
{% endfor %}

	hide-identity: yes
	hide-version: yes

	auto-trust-anchor-file: "/var/unbound/db/root.key"

	root-hints: "/var/unbound/etc/named.cache"

	local-zone: "{{ domain }}." static
{% for net in network %}
{% for ip in net.static_ips %}
{% if ip.name == domain %}
	local-data: "{% if ip.alias is defined %}{{ ip.alias }}{% else %}{{ ip.name }}{% endif %}.	IN	A	{{ ip.address }}"
{% else %}
{% if ip.alias is defined %}
	local-data: "{{ ip.alias }}.	IN	A	{{ ip.address }}"
{% endif %}
	local-data: "{{ ip.name }}.{{ domain }}.	IN	A	{{ ip.address }}"
{% endif %}
{% endfor %}
{% endfor %}

{% if insecure_domains is defined %}
{% for di in insecure_domains %}
	domain-insecure: "{{ di }}"
{% endfor %}

{% endif %}
{% if forward_zones is defined %}
{% for fwd in forward_zones %}
	forward-zone:
		name: "{{ fwd.name }}"
{% for a in fwd.addresses %}
		forward-addr: "{{ a }}"
{% endfor %}
{% endfor %}

{% endif %}
remote-control:
	control-enable: yes
	control-use-cert: no
	control-interface: /var/run/unbound.sock

